@import url('https://fonts.googleapis.com/css2?family=Explora&family=Roboto:ital,wght@0,100;1,100&display=swap');

*{
    padding: 0%;
    margin: 0px;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
/* cabecera y navegador */
.titulobarra{
    padding: 19px;
    letter-spacing: 1px;
    background-color: #f8f9fa;
    font-family: 'Explora', cursive;
}
.titulobarra a{
    text-decoration: none;
}
.titulobarra a h4{
    color: black;
    font-size: 28px;
}

.navcabecera{
    background-color: black;
    padding: 11px;
    padding-left: 35px;
}

.navcabecera ul li{
        display: inline-block;
        letter-spacing: 3px;
}

.uwu{
    color: white;
    padding: 12px;
}
.uwu2{
    display: none;
}
/* home */

.mainhome{
    margin: 40px 54px;
    padding: 0px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.mainhome h2{
    padding: 25px 25px;
    color: black;
}
p{
    color: azure;
}

.fraseintro{
    font-style: italic;
    padding-top: 30px;
    font-size: 19px;
}
.fraseintro p{
    color: rgb(98, 99, 104);
    margin: 0px 59px;
}
.presentacion{
    text-align: center;
    padding-top: 63px;
    border: 10px;
    margin: 0px;
}

.fotitostrns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.fotitostrns a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: inherit;
    text-decoration: none;
    margin-bottom: 24px;
    text-align: center;
    width: 256px;
    height: 531px;
}

.fotitostrns .cover {
    width: 100%;
}

.fotitostrns img:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: .8s;
}

.fotitostrns img {
    transition: 1s;
    width: 100%;
    height: auto;
}

.fotitostrns:hover > :not(:hover){
    opacity: .4;
}

.fotitostrns .colapsado {
    position: block;
    padding: 12px;
    text-align: left;
    font-weight: 700;
    transition: .3s;
    background: #FFF;
}

/* donaciones */

.laquetiro{
    margin: 13px 0px 0px 37px;
    padding: 2px 41px 5px 0px;
}
.titulopago{
    padding-left: 16px;
    padding-top: 15px;
}
.donacionformula{
    display: grid;
    grid-template-rows: auto;
    margin: 2% 23% 2% 18%;
}
.donacion{
    border: 1px black solid;
    font-size: 14px;
    height: auto;
    width: 100%;
    border-radius: 20px;
    display: grid;
}
.donacion .facturacion{
    display: flex;
    height: auto;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
}
.facturacion div{
    display: flex;
    flex-direction: column;
}

.botonform{
    padding: 8px 0px 5px 0px;
}
.recuerdo p{
    padding: 13px;
}

/* reseñas */
.reviews{
    margin: 3%;
    display: flex;
    flex-direction: column;
    padding: 0% 6% 0% 2%;
    margin-bottom: 40px;
}
.reviews p{
    padding: 1% 0% 0% 6%;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.reviews h3{
    padding:1% 0% 0% 2%;
}

.review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews .review-item:not(:last-child) {
    margin-bottom: 48px;
}
/* contacto */
.maincontact{
    margin: 7% 19%;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.listacontacto{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

.listacontacto li{
    padding-top: 10px;
}
.formcontact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0% 0% 0% 0%;
}
.formu{
    border: 1px azure solid;
    border-radius: 9%;
    margin: 2% 0% 1% 0%;
    padding: 1% 0% 3% 0%;
}
.formu div{
    padding: 3% 5% 0% 4%;
}
.formu div label{
    color: azure;
}
.formcontact .email{
    width: 100%;
}
.formcontact .nameform{
    display: grid;
    grid-template-columns: 50% 45%;
}
.formcontact .nameform input{
    width: 100%;
}
.formcontact .mensaje{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20%;
}
/* biografia */
.mainbiograph{
    margin: 21px 50px;
    padding: 0px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.mainbiograph h3{
    padding: 12px 0px;
}

/* pie de pagina */
.pie {
    background-color: black;
    color: azure;
    display: flex;
    padding: 24px;
    flex-direction: column;
}

.linksreferidos{
    padding-top: 30px;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-end;
}

/* Responsive */
@media (min-width: 1024px) {
    .review-item {
        flex-direction: row;
    }

    .fotitostrns a {
        overflow: hidden;
    }

    .fotitostrns a .colapsado {
        position: absolute;
        top: 100%;
    }

    .fotitostrns a:hover .colapsado {
        transform: translateY(-100%);
    }

    /* biografia */
    .mainbiograph{
        margin: 40px 190px;
        padding: 0px;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .mainbiograph h3{
        padding: 12px 0px;
    }
    /* donaciones */
    .laquetiro{
        margin: 18px;
        margin-bottom: 10px;
        padding-right: 500px;
    }
    .donacionformula{
        display: grid;
        grid-template-rows: auto;
        margin: 2% 37% 3% 30%;
    }
    .donacion{
        border: 1px black solid;
        font-size: 18px;
        height: auto;
        width: 100%;
        border-radius: 20px;
        display: grid;
        grid-template-rows: auto;
    }
    .donacion .facturacion{
        display: flex;
        height: auto;
        padding-left: 10px;
        width: auto;
        grid-template-columns: 50% 50%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 8px 0px 1px 11px;
    }
    .facturacion div{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding: 11px 0px 0px 0px;
    }
    
    .titulopago{
        padding-left: 58px;
    }
    .botonform{
        padding-bottom: 0%;
        margin-bottom: 3%;
    }
    .recuerdo p{
        padding: 13px;
    }
    /* Home */
    .mainhome{
        margin: 40px 190px;
        padding: 0px;
        text-align: center;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .mainhome h2{
        padding: 25px 25px;
        color: black;
    }
    p{
        color: azure;
    }
    
    .fraseintro{
        font-style: italic;
        padding-top: 30px;
        font-size: 19px;
    }
    .fraseintro p{
        color: rgb(98, 99, 104);
        margin: 0px 156px;
    }
    .presentacion{
        text-align: center;
        padding-top: 63px;
        border: 10px;
        margin: 0px;
    }
    .fotitostrns{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* Contact */
    .maincontact{
        margin: 2% 25%;
    }
    
    .listacontacto{
        text-align: center;
        padding-top: 26px;
        padding-bottom: 40px;
    }
    
    .listacontacto li{
        padding-top: 14px;
    }
    .formcontact{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0% 0% 0% 0%;
    }
    .formu{
        border: 1px azure lineargradiant;
        border-radius: 9%;
        margin: 2% 0% 0% 13%;
        padding: 1% 0% 3% 0%;
    }
    .formu div{
        padding: 3% 5% 0% 4%;
    }
    .formcontact .email{
        width: 100%;
    }
    .formcontact .nameform{
        display: grid;
        grid-template-columns: 50% 45%;
    }
    .formcontact .nameform input{
        width: 100%;
    }
    .formcontact .mensaje{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20%;
    }
    /* img */
    .uwu2{
        display: inline-block;
    }
}
@media (min-width: 600px){
    .fotitostrns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fotitostrns a{
        height: 540px;
    }
}
@media (min-width: 1024px){
    .fotitostrns a{
        height: 405px;
    }
}
